.box {
  background: #fff;
  border: 3px solid #451A76;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  float: left;
  height: 450px;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 14px;
  overflow: auto;
}

@media (max-width: 600px) {
  .box {
    height: 300px;
    overflow: hidden;
  }
}

.box-auxiliary {
  height: 600px;
  padding: 0;
}

@media (max-width: 600px) {
  .box-auxiliary {
    height: 300px;
  }
}

.box-child {
  background: #fff;
  border: 3px solid #954812;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  margin: 10px;
  float: left;
  cursor: pointer;
}

.box-child:hover {
  border: 2px solid #451A76;
}