.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  margin-top: 12px;
}

.App-title {
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .App-title {
    margin-top: 0px;
  }
}

.label{
  margin-right: 20px;
  margin-left: 10px;
}

.drag-text {
  margin-top: 25px;
}

@media (max-width: 600px) {
  .label-position {
    font-size: 15px;
    margin-left: 20px;
  }
}

.x-label {
  background-color: #954812;
}

.y-label {
  background-color: #451A76;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-xs-12 {
  padding-left: 0px;
}
